{% extends 'manages/base.html' %}
{% block title %} Detali product  {% endblock %}

{% block content %}
<div class="card text-center">
  {% if product.sale %}
  <div class="card-header">
    Sale!!
  </div>
  {% else %}
  <div class="card-header">
    New product
  </div>
  {% endif %}
  <div class="card-body">
    <h5 class="card-title">Product: {{product.name}}</h5>
    {% if product.sale %}
    <p class="card-text">Sale in this product: {{ product.sale.discount }} % !! New price: {{ product.new_price }}$ <br> Last price: {{ product.price }}$ </p>
    {% else %}
    <p class="card-text">Current price for this product: {{ product.price }}$ </p>
    {% endif %}
    <a href="{% url 'products'%}" class="btn btn-primary">Go to list products</a>
  </div>
  <div class="card-footer text-muted">
    {{product.create_date}}
  </div>
</div>
{% endblock %}