{% extends 'manages/base.html' %}
{% block title %} Shop  {% endblock %}

{% block content %}
<h1>Products</h1>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name product</th>
      <th scope="col">Date</th>
        <th scope="col">Sale!!</th>
        <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody>
    {% for product in products %}
    <tr>
      <th scope="row">{{ product.id }}</th>
        <td><a href="{{product.id}}">{{ product.name }}</a></td>
        <td>{{ product.create_date }}</td>
        {% if product.sale %}
        <td>{{ product.sale.discount }} %</td>
        <td> {{ product.new_price }}$ <s style="padding-left: 20px">{{ product.price }}$</s></td>
        {% else %}
        <td>Best price!</td>
        <td>{{ product.price }}$</td>
        {% endif %}
    </tr>
  {% endfor %}
  </tbody>
</table>





{% if is_paginated %}
    {% include "manages/pagination.html" %}
{% endif %}
{% endblock %}