<div class="container">
  <p style="padding: 1rem;">
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      Add settings filter
    </button>
  </p>
  <div class="collapse" id="collapseExample" style="padding: 1rem;">
    <div class="card card-body">
      <form action="" method="get" id="my-form">
        {% if form.errors %}
            {% for field, errors in form.errors.items %}
                {% for error in errors %}
                    <div class="alert alert-danger" role="alert">
                      {{error}}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Statuses: </label>
          </div>
          <select class="custom-select" id="inputGroupSelect01" name="status">
            <option selected>All</option>
            {% for s in status %}
            <option value="{{s.1}}">{{s.1}}</option>
            {% endfor %}
          </select>
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Date crete order (больше чем введенная дата):</span>
          </div>
          {{form.date_start}}
          <div class="input-group-append">
            <span class="input-group-text">Example 2002-12-31</span>
          </div>
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Date create order stop (не больше чем введенная дата):</span>
          </div>
          {{form.date_end}}
          <div class="input-group-append">
            <span class="input-group-text">Example 2012-12-30</span>
          </div>
        </div>
        <button type="button" class="btn btn-outline-primary" id="main_button">Send</button>


      </form>

    </div>
  </div>

</div>