{% extends 'manages/base.html' %}
{% block title %} Create Order  {% endblock %}

{% block content %}
{% if perms.manages.add_order %}
    <div class="container" style="padding-top: 7rem ">
        <div class="card">
            <div class="card-body">
                <form action="" method="POST">
                    {% csrf_token %}
                    {% if form.errors %}
                        {% for field, errors in form.errors.items %}
                            {% for error in errors %}
                                <div class="alert alert-danger" role="alert">
                                  {{error}}
                                </div>
                            {% endfor %}
                        {% endfor %}
                    {% endif %}
                    {% for f in form %}
                        <div class="form-group">
                            {{ f.label }}
                            {{ f }}
                        </div>
                    {% endfor %}
                    <input type="submit">
                </form>
            </div>
        </div>
    </div>
{% else %}
<h1>Dont have perms</h1>
{% endif %}

{% endblock %}