{% extends 'manages/base_open.html' %}
{% block title %} Detail product  {% endblock %}

{% block content %}
  <div class="card text-center">
    {% if product.sales.all %}
    <div class="card-header">
      Sale!!
    </div>
    {% else %}
    <div class="card-header">
      New product
    </div>
    {% endif %}
    <div class="card-body">
      <h5 class="card-title">Product: {{product.name}}</h5>
      {% if product.sales.all %}
      <p class="card-text">Sale in this product: {{ product.get_all_discount }} % !! New price: {{ product.price }}$ <br> Last price: {{ product.start_price }}$ </p>
      {% else %}
      <p class="card-text">Current price for this product: {{ product.start_price }}$ </p>
      {% endif %}
      <a href="{% url 'products'%}" class="btn btn-primary">Go to list products</a>
      {% if product.order %}<a href="{% url 'redirect_to_order' product.pk%}" class="btn btn-primary">Buy this product</a>{% endif %}
    </div>
    <div class="card-footer text-muted">
      {{product.create_date}}
    </div>
  </div>

{% endblock %}